<mat-dialog-content>
    <div class="pr-2 pl-2">
      <form [formGroup]="mazoGroupForm">
        <div class="grid grid-cols-5 gap-4 mt-5">
            <div class="col-span-5 md:col-span-2 lg:col-span-2">
              <label
                for="nivel"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Nivel</label
              >
              <ng-select
              [items]="nivelesType"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              placeholder="Niveles"
              formControlName="idNivel"
              notFoundText="No hay niveles"
              class="ng-custom"
            >
            </ng-select>
              
            </div>
      
            <div class="col-span-5 md:col-span-3 lg:col-span-3">
              <label
                for="asignatura"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Asignatura</label
              >
              <ng-select
              [items]="asignaturas"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              placeholder="Asignatura"
              formControlName="idAsignatura"
              notFoundText="No hay Asignaturas"
              class="ng-custom"
            >
            </ng-select>

          </div>
      
           
          <div class="col-span-5">
            <label
              for="nombreMazo"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Descripción</label
            >
            <input
              type="text"
              id="nombreMazo"
              formControlName="nombreMazo"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Descripción"
              [readonly]="onlyViewACtivate(rol)"
            />
          </div>
        </div>
      </form>
    </div>
    
  </mat-dialog-content>
  