<mat-dialog-content>
    <div class="pr-7 pl-7">
      <form [formGroup]="mazoGroupForm">
        <div class="grid grid-cols-4 gap-4 mt-5">
            <div>
              <label
                for="nivel"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Nivel</label
              >
              <select *ngIf="selectedActivate(rol)"
                id="niveles"
                formControlName="idNivel"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                (change)="onNivelChange($event)"
              >
                <option value="" disabled selected>Nivel</option>
                <option *ngFor="let nivel of nivelesType" [value]="nivel.value">
                  {{ nivel.label }}
                </option>
              </select>
              
              <input *ngIf="onlyViewACtivate(rol)"
              type="text"
              id="nivelSelected"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [value]="descripcionNivel"
              [readonly]="rol == 'Admin' || rol == 'Docente'"
             />
            </div>
      
            <div class="col-span-2">
              <label
                for="asignatura"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Asignatura</label
              >
              <select *ngIf="selectedActivate(rol)"
                id="asignaturas"
                formControlName="idAsignatura"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              >
                <option value="" disabled selected>Asignatura</option>
                <option
                  *ngFor="let asignatura of asignaturas"
                  [value]="asignatura.value"
                >
                  {{ asignatura.label }}
                </option>
              </select>
    
              <input *ngIf="onlyViewACtivate(rol)"
              type="text"
              id="asignatureSelected"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [value]="nombreAsignatura"
              [readonly]="rol == 'Admin' || rol == 'Docente'"
             />
            </div>
      
            <div *ngIf="rol=='Docente'">
              <label
                for="estado"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Estado</label
              >
              <select
                id="estado"
                formControlName="idEstado"
                class="bg-gray-50 border disabled border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              >
                <option value="">Estado</option>
                <option *ngFor="let estado of estados" [value]="estado.value">
                  {{ estado.label }}
                </option>
              </select>
            </div>
          
    
          <div class="col-span-4">
            <label
              for="nombreMazo"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Descripción</label
            >
            <input
              type="text"
              id="nombreMazo"
              formControlName="nombreMazo"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Descripción"
              [readonly]="onlyViewACtivate(rol)"
            />
          </div>
    
         
          <div class="col-span-4" *ngIf="this.rol == 'Admin'">
            <div
            class="col-span-4"
          >
            <label
              for="docenteRevisor"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Revisor</label
            >
            <select
              id="docentes"
              formControlName="idDocenteRevisor"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
              <option value="">Docente</option>
              <option *ngFor="let docente of docentes" [value]="docente.value">
                {{ docente.label }}
              </option>
            </select>
          </div>
          </div>
    
          <div *ngIf="showObservacion(this.rol)" class="col-span-4">
          <div class="col-span-4">
            <label
              for="revisorName"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Revisor</label
            >
            <input
              type="text"
              id="revisorName"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [value]="formData.nombreDocenteRevisor"
              [readonly]="rol == 'Estudiante' || rol == 'Docente'"
            />
          </div>
    
          <div class="col-span-4 mt-2">
            <label
              for="observacion"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Observación</label
            >
            <input
              type="text"
              id="observacion"
              formControlName="observacion"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Observacion"
              [readonly]="rol == 'Estudiante'"
            />
          </div>
    
          <div class="col-span-4 mt-2">
            <label
              for="file"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Observaciones Archivo</label
            >
            <div class="mt-2">
              <input
                type="file"
                id="file"
                (change)="onFileChange($event)"
                accept=".jpg, .jpeg, .png, .gif, .doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"
                class="block w-full text-gray-900"
              />
              <div>
            
              </div>
            </div>
          </div>
          </div>
        </div>
      </form>
    </div>
    
  </mat-dialog-content>
  