<nav class="flex bg-gray-200 pt-2 pb-2" aria-label="Breadcrumb">
  <ol class="inline-flex ml-5 items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a [routerLink]="'/home/landing'" class="inline-flex items-center text-base font-medium text-gray-700 hover:text-blue-900">
        <mat-icon class="text-base">home</mat-icon>
        Inicio
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="ms-1 text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Recursos Académicos</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a [routerLink]="'/academic-resources'" class="ms-1 text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Repositorio de Recursos</a>
      </div>
    </li>
  </ol>
</nav>

<div class="m-7">
  <div class="flex flex-wrap gap-y-4">
    <span class="text-3xl">Repositorio de Recursos</span>
    <button
      type="button"
      (click)="openDialog()"
      class="ml-2 text-white bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center me-2 mb-2"
    >
      <span class="flex items-center justify-center">
        <mat-icon>add</mat-icon>
        Nuevo
      </span>
    </button>
  </div>
  <div class="mt-12 mb-2">
    <search-filters (search)="emitSearch($event)"></search-filters>
  </div>

  <div
    class="text-sm font-medium text-center text-gray-700 border-b border-gray-200"
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a
          (click)="selectedTab = 'Publicado'"
          [ngClass]="{
            'text-blue-900 active border-b-2 border-blue-900':
              selectedTab === 'Publicado',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Publicado'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Publicados</a
        >
      </li>
      <li class="me-2">
        <a
          (click)="selectedTab = 'Mis Recursos'"
          [ngClass]="{
            'text-blue-900 border-b-2 border-blue-900':
              selectedTab === 'Mis Recursos',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Mis Recursos'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Mis Recursos</a
        >
      </li>
      @if(rol == 'Docente'){
      <li class="me-2">
        <a
          (click)="selectedTab = 'Por Aprobar'"
          [ngClass]="{
            'text-blue-900 border-b-2 border-blue-900':
              selectedTab === 'Por Aprobar',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Por Aprobar'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Por Aprobar
        </a>
      </li>
      }
      <li class="me-2">
        <a
          (click)="selectedTab = 'Recursos revisados'"
          [ngClass]="{
            'text-blue-900 border-b-2 border-blue-900':
              selectedTab === 'Recursos revisados',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Recursos revisados'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Recursos Consultados
        </a>
      </li>
    </ul>
  </div>
  <div class="pt-5 pb-5">
    @switch (selectedTab) { @case ('Publicado') {
    <!-- <resources-table
      [searchData]="searchInfo"
      [typeTable]="'Publicado'"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
    ></resources-table> -->
    <resources-cards
      [searchData]="searchInfo"
      [typeTable]="'Publicado'"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
    ></resources-cards>
    } @case ('Mis Recursos') {
    <!-- <resources-table
      [searchData]="searchInfo"
      [typeTable]="'Mis Recursos'"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
    ></resources-table> -->
    <resources-cards
      [searchData]="searchInfo"
      [typeTable]="'Mis Recursos'"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
    ></resources-cards>
    } @case ('Por Aprobar') {
    <!-- <resources-table
      [searchData]="searchInfo"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
      [typeTable]="'Por Aprobar'"
    ></resources-table> -->
    <resources-cards
    [searchData]="searchInfo"
    (loadedTableEmitter)="loadedTale()"
    [loadTable]="reloadTable"
    [typeTable]="'Por Aprobar'"
  ></resources-cards>
    } @case ('Recursos revisados') {
    <!-- <resources-table
      [searchData]="searchInfo"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
      [typeTable]="'Recursos revisados'"
    ></resources-table> -->
    <resources-cards
      [searchData]="searchInfo"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
      [typeTable]="'Recursos revisados'"
    ></resources-cards>
    } }
  </div>
</div>
