<mat-dialog-content>
  <div class="text-right p-2">
    <mat-icon mat-dialog-close class="text-gray-700">close</mat-icon>
  </div>
  <p class="text-2xl mb-2 text-black">Observación de Rechazo</p>
  <hr />
  <div class="pr-2 pl-2 md:pr-7 md:pl-7 lg:pr-7 lg:pl-7 mt-5">
    <form [formGroup]="observationForm">
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-4">
          <label
            for="observation"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Motivo Rechazo</label
          >
          <editor
            [apiKey]="myApiKey"
            formControlName="observacion"
            [init]="init"
            [disabled]="onlyView"
          >
          </editor>

          <div class="col-span-4 mt-4">
            @if(onlyView === false){
            <label
              for="file"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Archivo</label
            >
        
              <button
              (click)="selectFile()"
              class="text-white bg-blue-900 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
            >
            <mat-icon class="mr-2">cloud_upload</mat-icon>
              Seleccionar archivo
            </button>
            <input
              type="text"
              id="recurso"
              formControlName="observacionFileName"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Ningún archivo seleccionado..."
              readonly
            />
            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="onFileChange($event)"
              accept=".pdf"
            />
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-span-4 text-right mt-3 mb-3 pr-5">
    @if(onlyView === false){
      <button
      type="button"
      (click)="cancelar()"
      class="text-white bg-gray-500 hover:bg-gray-400 font-medium rounded-lg text-sm px-3 py-2 md:text-sm lg:text-base md:px-5 md:py-2.5 lg:px-5 lg:py-2.5 text-center inline-flex items-center me-2 mb-2"
    >
    <mat-icon class="mr-2">cancel</mat-icon>
      <span class="flex items-center justify-center"> Cancelar </span>
    </button>
    <button
      type="button"
      (click)="enviarObservacionRechazo()"
      class="text-white bg-blue-900 hover:bg-blue-800 font-medium rounded-lg text-sm px-3 py-2 md:text-sm lg:text-base md:px-5 md:py-2.5 lg:px-5 lg:py-2.5 text-center inline-flex items-center me-2 mb-2"
    >
      <mat-icon class="mr-2">save</mat-icon>
      <span class="flex items-center justify-center"> Guardar </span>
    </button>
    }


      @if(onlyView === true){
        <button type="button"
        *ngIf="archivoObservacion !== null"
        class="ml-2 text-white bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        <a
            class="cursor-pointer"
            [href]="archivoObservacion"
            target="_blank"
          >
        <span class="flex items-center justify-center">
          <mat-icon
          matTooltip="Ver Archivo de Observación"
          matTooltipPosition="above"
          >open_in_new</mat-icon
        >
          Ver Archivo de Observación
        </span>
        </a>
      </button>
      }
      @if(onlyView === true){

      <button
      type="button"
      (click)="cancelar()"
      class="text-white bg-blue-900 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
    >
      <mat-icon class="mr-2">cancel</mat-icon>
      <span class="flex items-center justify-center"> Cerrar </span>
    </button>
    }
  </div>
</mat-dialog-content>
