
<div class="col-span-3">
  <span class="text-xl">Seguridad de la Cuenta</span>
  <mat-divider></mat-divider>
  <div class="mt-7">
    <span class="mr-5">Contraseña</span>
    <button type="button" (click)="edit()"
    class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    Cambiar contraseña
  </button>
  </div>
</div>
<div *ngIf="!isDisabled">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="mt-5 grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-3">
      <div class="sm:col-span-1">
        <label for="olPassword" class="block text-sm font-medium leading-6 text-gray-900">Contraseña Actual</label>
        <div class="mt-2">
          <input type="password" name="olPassword" id="olPassword" formControlName="oldPassword"
            class="block w-full rounded-md border-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer peer-invalid"
            pattern=".{8,}$" />
          <span
            class="mt-2 hidden text-xs text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            *Contraseña debe tener al menos 8 caracteres
          </span>
        </div>
      </div>
      <div class="sm:col-span-1">
        <label for="newPassword" class="block text-sm font-medium leading-6 text-gray-900">Nueva Contraseña</label>
        <div class="mt-2">
          <input type="password" name="newPassword" id="newPassword" formControlName="newPassword"
            class="block w-full rounded-md border-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer peer-invalid"
            pattern=".{8,}$" />
          <span
            class="mt-2 hidden text-xs text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            *Contraseña debe tener al menos 8 caracteres
          </span>
        </div>
      </div>
      <div class="col-span-1">
        <div class="mt-6 flex items-center justify-end gap-x-6 pb-7 sm:col-span-3">
          <button type="button"
              class="rounded-md bg-gray-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              (click)="cancelar()">
              Cancelar
            </button>
          <button type="submit"
            class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
