<nav class="flex bg-gray-200 pt-2 pb-2" aria-label="Breadcrumb">
    <ol class="inline-flex ml-5 items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a [routerLink]="'/home/landing'" class="inline-flex items-center text-base font-medium text-gray-700 hover:text-blue-900">
          <mat-icon class="text-base">home</mat-icon>
          Inicio
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <a class="ms-1 text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Simuladores</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <a [routerLink]="'/simuladores/iniciar-simulador'" class="ms-1 text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">{{nombreSimulador}}</a>
        </div>
      </li>
    </ol>
  </nav>
    
    <div class="m-7 mt-5 mb-5">
      <span class="text-3xl">{{nombreSimulador}}</span>
    </div>

      <div class="m-7 mt-2 h-full flashcard-view rounded-lg p-9">
        <div *ngIf="preguntaActualIndex < preguntasSimulador.length">
          <div class="text-2xl block font-medium text-center bg-white text-gray-700 border border-gray-200 rounded-lg shadow p-7 md:mr-48 md:ml-48 sm:mr-7 sm:ml-7">
            {{ preguntasSimulador[preguntaActualIndex].pregunta }}
          </div>
    
    
            <div class="text-xl mt-5 block bg-white font-medium text-left text-gray-700 border border-gray-200 rounded-lg shadow p-7 md:mr-48 md:ml-48 sm:mr-7 sm:ml-7">
                <div  class="pb-5">
                    <div *ngFor="let opcion of preguntasSimulador[preguntaActualIndex].opcionesRespuestas; let i = index">
                        <label *ngIf="preguntasSimulador[preguntaActualIndex].tipoPregunta === 'Opcion Simple'">
                        <input type="radio" name="opcion" [value]="i" (click)="respuestaSeleccionada = i">
                        {{ opcion.respuesta }}
                        </label>
                        <label *ngIf="preguntasSimulador[preguntaActualIndex].tipoPregunta === 'Opcion Multiple'">
                        <input type="checkbox" [checked]="respuestasUsuario[preguntaActualIndex][i]" (click)="respuestasUsuario[preguntaActualIndex][i] = !respuestasUsuario[preguntaActualIndex][i]">
                        {{ opcion.respuesta }}
                        </label>
                    </div>
                </div> 
                 <!-- <div>
                <button (click)="siguientePregunta()">Siguiente</button>
            </div> -->
           
            </div>
            <div class="text-right md:mr-48 md:ml-48 sm:mr-7 mt-5">
                <button type="button"(click)="siguientePregunta()" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-800">
                    {{ preguntaActualIndex < preguntasSimulador.length - 1 ? 'Siguiente' : 'Finalizar'}}
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
           
        </div>

        <div *ngIf="preguntaActualIndex >= preguntasSimulador.length" class="bg-white h-full flex flex-col items-center justify-center">
            <img src="/assets/images/testComplete.png" class="h-60 w-50 pt-2"> 
            <p class="text-xl" *ngIf="preguntaActualIndex >= preguntasSimulador.length">¡Has completado todas las preguntas!</p>
            <p class="text-2xl">Puntaje total: {{ puntaje }}/{{preguntasSimulador.length}}</p>
            <div class="text-right md:mr-48 md:ml-48 sm:mr-7 mt-5 mb-5">
                <button type="button" *ngIf="preguntaActualIndex >= preguntasSimulador.length" routerLink="/simuladores/repositorio-simuladores" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 mr-2">
                    <mat-icon>arrow_back</mat-icon>
                    Volver a Simuladores
                </button>
                <button type="button" *ngIf="preguntaActualIndex >= preguntasSimulador.length" (click)="reiniciar()"class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-800">
                    <mat-icon>autorenew</mat-icon>
                    Reintentar
                </button>
            </div>
          </div>
      </div>
    
     