<!-- <mat-dialog-content>
    <div class="text-right">
      <mat-icon mat-dialog-close class="text-gray-700">close</mat-icon>
    </div>
     
      <div class="text-center">
        <p class="text-center text-xl text-slate-950">{{data.mensaje}}</p>
      </div>
      <div>
        <button mat-button mat-dialog-close class="mt-5 mb-5 bg-blue-950">Cancelar</button>
        <button mat-button mat-dialog-close class="mt-5 mb-5 bg-blue-950">Aceptar</button>
      </div>
  </mat-dialog-content> -->

  <h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
  <p>{{ data.mensaje }}</p>
</div>
<div mat-dialog-actions>
  <!-- <button type="button" (click)="cerrarDialogo()">No</button> -->
  <!-- <button type="button" (click)="confirmado()" cdkFocusInitial class="bg-blue-900">Sí</button> -->
  <div class="ml-5">
    <button
  type="button"
  (click)="cerrarDialogo()"
  class="text-white bg-gray-500 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
>
  <span class="flex items-center justify-center"> Cancelar </span>
</button>
  <button
          type="button"
          (click)="confirmado()"
          class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
        >
          <span class="flex items-center justify-center"> Sí </span>
        </button>
  </div>
  
</div>