<nav class="flex bg-gray-200 pt-2 pb-2" aria-label="Breadcrumb">
  <ol class="inline-flex ml-5 items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a [routerLink]="'/home/landing'" class="inline-flex items-center text-base font-medium text-gray-700 hover:text-blue-900">
        <mat-icon class="text-base">home</mat-icon>
         <span class="hidden md:block md:text-base lg:text-base">Inicio</span> 
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Aprender</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a routerLink="/learn/videolearns" class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Repositorio de VideoLearns</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">{{nombreVideoLearn}}</a>
      </div>
    </li>
  </ol>
</nav>
  
    
    <div class="m-7 mt-5 mb-5">
      <span class="text-2xl md:text-3xl lg:text-3xl">{{nombreVideoLearn}}</span>
    </div>

    <div class="m-7 mt-2 h-full background-view rounded-lg p-9"> 
      <div class="flex flex-wrap" *ngIf="canDoVideoLearn()">
        <div class="sm:w-full md:2/4 lg:w-3/4 pr-5">
          <div id="youtube-player" class="w-full h-96"></div>
          <div
      class="relative grid select-none items-center whitespace-nowrap rounded-xs bg-sky-700 py-3 px-5 font-sans text-xs font-bold uppercase text-white">
      <div class="absolute top-2/4 left-1.5 h-5 w-5 -translate-y-2/4">
        <mat-icon class="pr-5">access_time</mat-icon>
      </div>
      <span class="ml-[12px]">Tiempo restante: {{tiempoRestante | secondsToMinute}}</span>
    </div>
        </div>
        <div class="sm:w-full md:2/4 lg:w-1/4 p-4 bg-cyan-600 overflow-y-scroll h-96">
          <app-question-list [idVideoLearn]="idVideoLearn" [testIniciado]="testIniciado"></app-question-list>
        </div>
        
      </div>

      <div *ngIf="this.currentMinute >= this.videoDurationEnd" class="bg-white h-full flex flex-col items-center justify-center">
        <img src="/assets/images/testComplete.png" class="h-60 w-50 pt-2"> 
        <p class="text-xl">¡Has completado todas las preguntas!</p>
        <p class="text-2xl">Puntaje total: {{ calificacion }}/{{cantidadPreguntas}}</p>
        <div class="text-right md:mr-48 md:ml-48 sm:mr-7 mt-5 mb-5">
            <button type="button" routerLink="/learn/videolearns" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 mr-2">
                <mat-icon>arrow_back</mat-icon>
                Volver a videolearns
            </button>
            <button type="button" (click)="reiniciar()"class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-800">
                <mat-icon>autorenew</mat-icon>
                Reintentar
            </button>
        </div>
      </div>
    </div>