<nav class="flex bg-gray-200 pt-2 pb-2" aria-label="Breadcrumb">
  <ol class="inline-flex ml-5 items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a [routerLink]="'/home/landing'" class="inline-flex items-center text-base font-medium text-gray-700 hover:text-blue-900">
        <mat-icon class="text-base">home</mat-icon>
        <span class="hidden md:block md:text-base lg:text-base">Inicio</span> 
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Aprender</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a [routerLink]="'/learn/flashcards'" class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Repositorio de Flashcards</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">{{nombreMazo}}</a>
      </div>
    </li>
  </ol>
</nav>
  
  <div class="m-7 mt-5 mb-5">
    <span class="text-2xl md:text-3xl lg:text-3xl">{{nombreMazo}}</span>
  </div>
  <!-- Mostrar el cronómetro -->
 
  <div *ngIf="entradaPagina !== null" class="pr-9 pl-9" style="display: grid; grid-template-columns: auto auto; justify-content: end; align-items: center; gap: 5px;">
  <div class="flex gap-2">
    <div
      class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-sky-700 py-3 px-5 font-sans text-xs font-bold uppercase text-white">
      <div class="absolute top-2/4 left-1.5 h-5 w-5 -translate-y-2/4">
        <mat-icon class="pr-5">access_time</mat-icon>
      </div>
      <span class="ml-[12px]">Tiempo de estudio: {{ formatoTiempo(tiempoEnPagina) }}</span>
    </div>
  </div>
  </div>

<div class="m-7 mt-2 h-full background-view rounded-lg p-2 md:p-9 lg:p-9">
    <div *ngIf="currentFlashcard">
      <div class="text-2xl block font-medium text-center bg-white text-gray-700 border border-gray-200 rounded-lg shadow p-7 md:mr-48 md:ml-48 sm:mr-7 sm:ml-7">
        <div class="question">
            {{ currentFlashcard.pregunta }}
          </div>
      

      <div class="text-center mt-5 mb-5" *ngIf="!this.showAnswer">
          <button type="button" (click)="toggleAnswer()" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-900 rounded-lg hover:bg-blue-800">
              <mat-icon>visibility</mat-icon>
              Ver respuesta
          </button>
      </div>
    </div>

    <div *ngIf="this.showAnswer" class="text-xl mt-5 block bg-white font-medium text-center text-gray-700 border border-gray-200 rounded-lg shadow p-7 md:mr-48 md:ml-48 sm:mr-7 sm:ml-7">
        <div *ngIf="showAnswer" class="answer pb-5">
        {{ currentFlashcard.respuesta }}
        </div>

        <hr>
        <div class="mt-5">

            <button type="button" (click)="actualizarRepasoFlashcard(1)" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-cyan-500 rounded-lg hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                Otra vez
            </button>
            <button type="button" (click)="actualizarRepasoFlashcard(6)" class="px-3 py-2 text-sm ml-2 md:ml-5 font-medium text-center inline-flex items-center text-white bg-rose-500 rounded-lg hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                Difícil
            </button>
            <button type="button" (click)="actualizarRepasoFlashcard(10)"class="px-3 py-2 text-sm ml-2 md:ml-5 font-medium text-center inline-flex items-center text-white bg-yellow-500 rounded-lg hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                Bien
            </button>
            <button type="button" (click)="actualizarRepasoFlashcard(5760)" class="px-3 py-2 text-sm ml-2 md:ml-5 font-medium text-center inline-flex items-center text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                Fácil
            </button>
          
        </div>
    </div>
    </div>
    <div *ngIf="!currentFlashcard" class="bg-white h-80 flex flex-col items-center justify-center">
      <div class="md:text-2xl sm:text-xl pt-5">No hay flashcards disponibles para repasar en este momento.</div>
      <img src="/assets/images/time.png" class="h-60 w-50 pt-2">
    </div>
    
  </div>
