<div [formGroup]="resourceTable" class="-my-2 overflow-x-auto sm:-mx-6" *ngIf="data.length > 0; else noData">
    <div class="flex flex-wrap pr-2 pl-2 pb-2 md:pr-7 md:pl-7 pt-2 md:pb-7">
      <div
        *ngFor="let item of data; let i = index"
        class="w-full sm:w-full md:w-1/2 lg:w-1/4 p-2"
      >
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow mb-5">

          <div [ngStyle]="{ background: getGradient(i) }" class="h-32 flex flex-col">
            <div class="flex justify-end" *ngIf="newNotify(item) === true">
              <p class="bg-lime-600 text-lime-100 text-xs font-medium px-2.5 py-0.5 rounded-full mt-2 mr-2">Nuevo</p>
            </div>
            
            <div class="flex items-center justify-center flex-1">
              <img src="{{getIcon(item.tipoRecurso)}}" alt="{{ item.nombreRecurso }}" class="h-20 w-auto"/>
            </div>
          </div>
          <div class="grid grid-cols-3 gap-4 m-4">
            <div class="col-span-4">
                <div class=" text-xl font-bold tracking-tight text-gray-900">
                  {{ item.nombreRecurso }}
                </div>
            </div>
            <div class="col-span-3">
              <div
                class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-teal-700 bg-teal-100 border border-teal-300 w-fit"
              >
                <div class="text-xs font-normal leading-none w-fit flex-initial">
                  {{ item.nivel }}
                </div>
              </div>
              <div
                class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-blue-700 bg-blue-100 border border-blue-300 w-fit"
              >
                <div class="text-xs font-normal leading-none w-fit flex-initial">
                  {{ item.asignatura }}
                </div>
              </div>
              <div class="text-sm ml-2" *ngIf="selectedTab ==='Mis Recursos'">
                @switch (item.estadoRecurso) { 
                  @case ('Ingresado') {
                  <span class="text-neutral-500 font-bold">
                    {{ item.estadoRecurso}}</span
                  >
                  } @case ('Aprobado') {
                  <span class="text-green-500 font-bold">
                    {{ item.estadoRecurso}}</span
                  >
                  } @case ('Rechazado') {
                  <span class="text-red-700 font-bold">
                    {{ item.estadoRecurso}}</span
                  >
                  } }
              </div>
              
            </div>
           
  
            <div class="col-span-4">
              @if(userRol === 'Admin' && item.docenteRevisor == ''){
                <button
                  type="button"
                  (click)="asignaRevisor(item.idRecurso)"
                  class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mr-2"
                >
                  <span class="flex items-center justify-center">
                    <mat-icon
                    class="cursor-pointer"
                    (click)="asignaRevisor(item.idRecurso)"
                    onkeydown="asignarRevisor(item.idRecurso)"
                    matTooltip="Asignar Revisor"
                    matTooltipPosition="above"
                    >assignment_ind</mat-icon
                  >
                  </span>
                </button>
              }
  
              @if(selectedTab == 'Mis Recursos'){
                <button
                  *ngIf="canEdit(item)"
                  type="button"
                  class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mr-2"
                >
                  <span class="flex items-center justify-center">
                    <mat-icon
                  class="cursor-pointer"
                  [matTooltip]="tituloRecurso"
                  matTooltipPosition="above"
                  onkeydown="editarRecurso(item.idRecurso)"
                  (click)="editarRecurso(item.idRecurso)"
                >
                  edit
                </mat-icon>
                  </span>
                </button>

                <button
                  *ngIf="item.estadoRecurso === 'Rechazado'"
                  type="button"
                  class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mr-2"
                >
                  <span class="flex items-center justify-center">
                    <mat-icon
                    class="cursor-pointer"
                    (click)="verObservacion(item.idRecurso)"
                    onkeydown="verObservacion(item.idRecurso)"
                    matTooltip="Ver Observación"
                    matTooltipPosition="above"
                    >error_outline</mat-icon
                  >
                  </span>
                </button>
  
                <button
                  *ngIf="canDelete(item)"
                  type="button"
                  class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mr-2"
                >
                  <span class="flex items-center justify-center">
                    <mat-icon
                    class="cursor-pointer"
                    (click)="eliminarRecurso(item.idRecurso)"
                    onkeydown="eliminarRecurso(item.idRecurso)"
                    matTooltip="Eliminar Recurso"
                    matTooltipPosition="above"
                    >delete</mat-icon
                  >
                  </span>
                </button>

                
              }
  
              @if(selectedTab ==='Por Aprobar'){
                <button
                type="button"
                (click)="viewDetailsResource(item, 'approve')"
                class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mr-2"
              >
                <span class="flex items-center justify-center">
                  <mat-icon>assignment_turned_in</mat-icon>
                </span>
              </button>
              }
  
              <button
                type="button"
                (click)="viewDetailsResource(item, 'details')"
                class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mr-2"
              >
                <span class="flex items-center justify-center">
                  <mat-icon
                    matTooltip="Ver Detalles"
                    matTooltipPosition="above"
                  >view_list</mat-icon>
                </span>
              </button>
  
              <button type="button" (click)="clickFileLink(item)" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                <span class="flex items-center justify-center">
                    <a
                    class="cursor-pointer"
                    [href]="openFileInTab(item)"
                    target="_blank"
                  >
                      <mat-icon
                      matTooltip="Ver Recurso"
                      matTooltipPosition="above"
                      matBadgeSize="small"
                      >open_in_new</mat-icon
                    >
                  </a>
                </span>
              </button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!---PAGINACIÓN-->
  
    <div class="flex my-3 pl-0 pr-0 md:pr-7 md:pl-7 lg:pr-7 lg:pl-7">
      <div class="flex-1 ms-2">
        Mostrar:
        <select
          class="p-1 rounded border-2 border-solid border-slate-300"
          formControlName="limit"
        >
          @for (item of limitsOptions; track item) {
          <option [value]="item.value">{{ item.label }}</option>
          }
        </select>
      </div>
      <div class="grid justify-end">
        <nav>
          <ul class="flex inline-flex">
            <li>
              <span>Página:<input class="w-8 h-8 p-1 text-center justify-center rounded-full bg-sky-200 mx-1" type="number" (change)="goToPage($event)" value="{{page}}"> de {{paginateCurrent.length}}</span>
            </li>
            <li>
              <a
                class="mx-1 flex h-8 w-8 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out"
                [ngClass]="{
                    'cursor-pointer hover:border-gray-400 hover:bg-light-300': pagination.buttonLeft,
                    'opacity-50 cursor-default': !pagination.buttonLeft,
                  }"
                (click)="prevPage()"
              >
                <span class="material-icons text-base">keyboard_arrow_left</span>
              </a>
            </li>
            <li>
              <a
                class="mx-1 flex h-8 w-8 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300"
                (click)="nextPage()"
                [ngClass]="{
                  'cursor-pointer hover:border-gray-400 hover:bg-light-300':
                    pagination.buttonRight,
                  'opacity-50 cursor-default': !pagination.buttonRight
                }"
              >
                <span class="material-icons text-base">keyboard_arrow_right</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="h-24 bg-gray-200 p-7">
      <div class="text-center text-xl">No hay datos disponibles.</div>
    </div>
  </ng-template>
  <spinner-generate [message]="'Eliminando'"></spinner-generate>
