<div class="p-5"> 
    <div class="text-right">
      <mat-icon mat-dialog-close class="text-gray-700">close</mat-icon>
    </div>
    <p class="text-xl">Detalles VideoLearn</p>
    <hr />
    <mat-dialog-content>
      <div class="mt-5 mb-5">
        <p><b>Nivel: </b>{{ nivel }}</p>
        <p><b>Asignatura: </b>{{ asignatura }}</p>
        <p><b>Propietario: </b>{{ usuarioCreador }}</p>
        <p>
          <b>Fecha registro: </b>{{ fechaCreacion | date : "d/M/yyyy" }}
        </p>
        @if(nombreDocenteRevisor !== ''){
          <p>
            <b>Docente revisor: </b>{{ nombreDocenteRevisor }}
          </p>
        }
        <p><b>Cantidad preguntas: </b>{{ cantidadPreguntas }}</p>
        <!-- <p><b>Preguntas: </b></p>
        <div *ngFor="let item of preguntas">
          <p>{{ item }}</p>
        </div> -->
      </div>
    </mat-dialog-content>
    @if(userRol !== 'Admin'){
      
      <div class="col-span-4 justify center">
        <button
            type="button"
            (click)="cancelar()"
            class="text-white bg-gray-500 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
          >
            <span class="flex items-center justify-center">
              <mat-icon class="me-2">cancel</mat-icon>
              Cancelar
            </span>
          </button>
  
        <button
          type="button"
          (click)="saveMazoToReview()"
          class="ml-2 text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-3 py-2.5 text-center me-2 mb-2"
        >
          <span class="flex items-center justify-center">
            <mat-icon>bookmark</mat-icon>
            Guardar
          </span>
        </button>
        <button
          type="button"
          (click)="redirigirEstudiarFlashcards()"
          class="ml-2 text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-3 py-2.5 text-center me-2 mb-2"
        >
          <span class="flex items-center justify-center">
            <mat-icon>play_arrow</mat-icon>
            Estudiar
          </span>
        </button>
      </div>
    }
  </div>