<nav class="flex bg-gray-200 pt-2 pb-2" aria-label="Breadcrumb">
  <ol class="inline-flex ml-5 items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a [routerLink]="'/home/landing'" class="inline-flex items-center text-base font-medium text-gray-700 hover:text-blue-900">
        <mat-icon class="text-base">home</mat-icon>
        Inicio
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="ms-1 text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Control y Seguridad</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a [routerLink]="'/control-security/asignar-revisor/'" class="ms-1 text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Asignación Revisores</a>
      </div>
    </li>
  </ol>
</nav>

<div class="m-7">
  <div class="mt-5 mb-5">
    <span class="text-3xl">Asignación Revisores</span>
  </div>
  <div class="mt-10"></div>
  <search-filters (search)="emitSearch($event)"></search-filters>
  <div
    class="text-sm font-medium text-center text-gray-700 border-b border-gray-200"
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <span
          (click)="selectedTab = 'Recursos Académicos'"
          [ngClass]="{
            'text-blue-900 active border-b-2 border-blue-900':
              selectedTab === 'Recursos Académicos',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Recursos Académicos'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Recursos Académicos</span
        >
      </li>
      <li class="me-2">
        <span
          (click)="selectedTab = 'Flashcards'"
          [ngClass]="{
            'text-blue-900 border-b-2 border-blue-900':
              selectedTab === 'Flashcards',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Flashcards'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Flashcards</span
        >
      </li>

      <li class="me-2">
        <a
          (click)="selectedTab = 'Simuladores'"
          [ngClass]="{
            'text-blue-900 border-b-2 border-blue-900':
              selectedTab === 'Simuladores',
            'hover:text-gray-600 hover:border-gray-300':
              selectedTab !== 'Simuladores'
          }"
          class="inline-block p-4 rounded-t-lg"
          >Simuladores
        </a>
      </li>
    </ul>
  </div>

  <div class="pt-5 pb-5">
    @switch (selectedTab) { @case ('Recursos Académicos') {
    <resources-table
      [searchData]="searchInfo"
      filterByStatus="Ingresado"
      [typeTable]="'Asignar Revisor'"
    ></resources-table>
    } @case ('Flashcards') {
    <cards-flashcards
      [searchData]="searchInfo"
      [typeTable]="'Flashcards'"
      [filterByStatus]="'Ingresado'"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
    ></cards-flashcards>
    } @case ('Simuladores') {
    <cards-simulators
      [searchData]="searchInfo"
      [typeTable]="'Simuladores'"
      [filterByStatus]="'Ingresado'"
      (loadedTableEmitter)="loadedTale()"
      [loadTable]="reloadTable"
    ></cards-simulators>
    } @default {
    } }
  </div>
</div>
