<nav class="flex bg-gray-200 pt-2 pb-2" aria-label="Breadcrumb">
    <ol class="inline-flex ml-5 items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a [routerLink]="'/home/landing'" class="inline-flex items-center text-base font-medium text-gray-700 hover:text-blue-900">
          <mat-icon class="text-base">home</mat-icon>
          <span class="hidden md:block md:text-base lg:text-base">Inicio</span>
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <a class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Aprender</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <a class="ms-1 text-xs md:text-base lg:text-base font-medium text-gray-700 hover:text-blue-900 md:ms-2">Repositorio de Flashcards</a>
        </div>
      </li>
    </ol>
  </nav>
  
  <div class="m-7">
    <div class="mt-5 mb-5 flex items-center">
      <span class="text-2xl md:text-3xl lg:text-3xl">Repositorio de Flashcards</span>
      <button type="button" (click)="agregarMazo()" class="ml-2 text-white bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg hover:bg-blue-800 text-sm px-3 py-2 md:text-base lg:text-base md:px-5 md:py-2.5 lg:px-5 lg:py-2.5
      text-center me-2 mb-2">
        <span class="flex items-center justify-center">
          <mat-icon>add</mat-icon>
          Nuevo
        </span>
      </button>
      <button type="button" (click)="generarMazo()" class="p-0.5 mb-2 me-2 overflow-hidden text-sm  md:text-base lg:text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200">
        <span class="flex transition-all px-3 py-2.5 md:px-5 md:py-2.5 lg:px-5 lg:py-2.5 ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 items-center justify-center">
          <i class="fa-solid fa-wand-magic-sparkles md:mr-2 lg:mr-2"></i>
          <span class="hidden md:block md:text-base lg:text-base">Generar</span>
        </span>
      </button>
    </div>
    <div class="mt-10">
     <search-filters (search)="emitSearch($event)"></search-filters>
    </div>
  
    <div class="text-sm font-medium text-center text-gray-700 border-b border-gray-200">
      <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
          <span (click)="selectedTab = 'Publicado'"
            [ngClass]="{'text-blue-900 active border-b-2 border-blue-900': selectedTab === 'Publicado', 'hover:text-gray-600 hover:border-gray-300': selectedTab !== 'Publicado'}"
            class="inline-block p-4 rounded-t-lg">Publicados</span>
        </li>
        <li class="me-2">
          <span (click)="selectedTab = 'Mis Flashcards'"
            [ngClass]="{'text-blue-900 border-b-2 border-blue-900': selectedTab === 'Mis Flashcards', 'hover:text-gray-600 hover:border-gray-300': selectedTab !== 'Mis Flashcards'}"
            class="inline-block p-4 rounded-t-lg">Mis Flashcards</span>
        </li>
        @if(rol == 'Docente'){
          <li class="me-2">
            <a
              (click)="selectedTab = 'Por Aprobar'"
              [ngClass]="{
                'text-blue-900 border-b-2 border-blue-900':
                  selectedTab === 'Por Aprobar',
                'hover:text-gray-600 hover:border-gray-300':
                  selectedTab !== 'Por Aprobar'
              }"
              class="inline-block p-4 rounded-t-lg"
              >Por Aprobar
            </a>
          </li>
          }
          <li class="me-2">
            <span (click)="selectedTab = 'Guardados'"
              [ngClass]="{'text-blue-900 border-b-2 border-blue-900': selectedTab === 'Guardados', 'hover:text-gray-600 hover:border-gray-300': selectedTab !== 'Guardados'}"
              class="inline-block p-4 rounded-t-lg">Guardados</span>
          </li>
          <li class="me-2">
            <span (click)="selectedTab = 'Estudiados'"
              [ngClass]="{'text-blue-900 border-b-2 border-blue-900': selectedTab === 'Estudiados', 'hover:text-gray-600 hover:border-gray-300': selectedTab !== 'Estudiados'}"
              class="inline-block p-4 rounded-t-lg">Estudiados</span>
          </li>
      </ul>
    </div>

    <div class="pt-5 pb-5">
      @switch (selectedTab) { @case ('Publicado') {
         <cards-flashcards
        [searchData]="searchInfo"
        [typeTable]="'Publicado'"
        [filterByStatus]="'Aprobado'"
        (loadedTableEmitter)="loadedTale()"
        [loadTable]="reloadTable"
      ></cards-flashcards>
      } @case ('Mis Flashcards') {
      <cards-flashcards
        [searchData]="searchInfo"
        [typeTable]="'Mis Flashcards'"
        [filterByUser]="usuario"
        (loadedTableEmitter)="loadedTale()"
        [loadTable]="reloadTable"
      ></cards-flashcards>
      } @case ('Por Aprobar') {
        <cards-flashcards
        [searchData]="searchInfo"
        [typeTable]="'Por Aprobar'"
        [filterByRevisor]="usuario"
        (loadedTableEmitter)="loadedTale()"
        [loadTable]="reloadTable"
      ></cards-flashcards>
      } @case ('Guardados') {
        <mazos-guardados
        [searchData]="searchInfo"
        [typeTable]="'Guardados'"
        (loadedTableEmitter)="loadedTale()"
        [loadTable]="reloadTable"
      ></mazos-guardados>
      }  @case ('Estudiados') {
        <mazos-estudiados
        [searchData]="searchInfo"
        [typeTable]="'Estudiados'"
        (loadedTableEmitter)="loadedTale()"
        [loadTable]="reloadTable"
      ></mazos-estudiados>
      }}
    </div>
  </div>