<!-- <form [formGroup]="cargaHorariaForm" (ngSubmit)="onSubmit()">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-blue-900 text-left text-xs font-medium text-white uppercase tracking-wider">Acciones
          </th>
          <th class="px-6 py-3 bg-blue-900 text-left text-xs font-medium text-white uppercase tracking-wider">Día de la
            Semana</th>
          <th class="px-6 py-3 bg-blue-900 text-left text-xs font-medium text-white uppercase tracking-wider">Actividad
          </th>
          <th class="px-6 py-3 bg-blue-900 text-left text-xs font-medium text-white uppercase tracking-wider">Hora Desde
          </th>
          <th class="px-6 py-3 bg-blue-900 text-left text-xs font-medium text-white uppercase tracking-wider">Hora Hasta
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200" formArrayName="cargaHoraria">
        <tr *ngFor="let carga of paginatedData; let i = index" [formGroupName]="i" class="hover:bg-gray-100">
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <button (click)="removeCargaHoraria(i)" class="text-red-500 hover:text-red-700">Eliminar</button>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <select formControlName="diaSemana"
              class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
              <option *ngFor="let dia of diasSemana" [value]="dia.value">{{ dia.label }}</option>
            </select>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <input formControlName="actividad" placeholder="actividad"
              class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <input type="time" formControlName="horaDesde"
              class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <input type="time" formControlName="horaHasta"
              class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
          </td>
        </tr>
      </tbody>
    </table>
  
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addCargaHoraria()"
      type="button">
      Añadir Carga Horaria
    </button>
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit">Guardar Cargas
      Horarias</button>
  </form> -->