<div class="grid grid-cols-4 gap-4 m-5">
    <div class="col-span-4 bg-cyan-700 h-fit relative">
        <img src="assets/banner.jpg" class="w-full h-36" alt="banner">
        <div class="absolute top-0 left-0 w-full h-36 bg-gray-900 opacity-70 items-center justify-center pt-5">
            <p class="text-white text-2xl text-center">Bienvenido a CDIAR</p>
            <p class="text-white text-base text-center">Bienvenido a un mundo de aprendizaje efectivo donde podrás encontrar un conjunto de herramientas que te ayudarán a mejorar tu aprendizaje de la mejor forma y te acompañará a lo largo de tu preparación profesional.</p>
        </div>
    </div>
    <div class="sm:col-span-4 md:col-span-1 col-span-4">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow text-center">
            <a href="#">
                <img class="rounded-t-lg" src="assets/recurso.jpg" alt="recursos" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Recursos Académicos</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700">Consulta Información verificada sobre las asignaturas y apernde.</p>
                <button type="button" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Ver Recursos</button>

            </div>
        </div>
    </div>
    <div class="sm:col-span-4 md:col-span-1 col-span-4">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow text-center">
            <a href="#">
                <img class="rounded-t-lg" src="assets/aprender.jpg" alt="aprender" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Aprender</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700">Repasa los contenidos de las asignaturas mediante el sistema de flshcards o videolearn.</p>
                <button type="button" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Ver Flashcards</button>

            </div>
        </div>
    </div>
    <div class="sm:col-span-4 md:col-span-1 col-span-4">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow text-center">
            <a href="#">
                <img class="rounded-t-lg" src="assets/simuladores.jpg" alt="simuladores" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Simuladores</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700">Pon a prueba tus conocimientos mediante la realización de simuladores.</p>
                <button type="button" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Ver Simuladores</button>

            </div>
        </div>
    </div>
    <div class="sm:col-span-4 md:col-span-1 col-span-4">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow text-center">
            <a href="#">
                <img class="rounded-t-lg" src="assets/meta.jpg" alt="meta" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Metas y Rendimiento</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700">Establece tus calificaciones objetivo y visualiza el rendimiento obtenido en los simuladores.</p>
                <button type="button" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Establecer meta</button>

            </div>
        </div>
    </div>
  </div>