<div class="flex flex-col">
  <div [formGroup]="resourceTable" class="-my-2 overflow-x-auto sm:-mx-6">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                <p>Acciones</p>
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Nombre Recurso
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Asignatura
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Nivel
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Fecha Creación
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Tipo Recurso
              </th>
              @if(selectedTab === 'Mis Recursos' && userRol === 'Estudiante' ){
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Revisor
              </th>
              }
              <th
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Usuario Creación
              </th>
              <th
                *ngIf="selectedTab === 'Mis Recursos'"
                class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider bg-blue-900"
              >
                Estado
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            @for (item of data; track item) {
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                @if(canDelete(item)){
                <mat-icon
                  class="text-red-600 mr-2 cursor-pointer"
                  (click)="eliminarRecurso(item.idRecurso)"
                  onkeydown="eliminarRecurso(item.idRecurso)"
                  matTooltip="Eliminar Recurso"
                  matTooltipPosition="above"
                  >delete</mat-icon
                >
                } @if(canEdit(item)){
                <mat-icon
                  class="text-blue-800 mr-2 cursor-pointer"
                  [matTooltip]="tituloRecurso"
                  matTooltipPosition="above"
                  onkeydown="editarRecurso(item.idRecurso)"
                  (click)="editarRecurso(item.idRecurso)"
                >
                  {{ iconActionTable }}
                </mat-icon>
                } @if(canResolveReject(item)){
                <mat-icon
                  class="text-blue-800 mr-2 cursor-pointer"
                  matTooltip="Corregir Recurso"
                  matTooltipPosition="above"
                  onkeydown="corregirRecurso(item.idRecurso)"
                  (click)="corregirRecurso(item.idRecurso)"
                >
                  draw
                </mat-icon>
                }
                <a
                  class="cursor-pointer"
                  [href]="openFileInTab(item)"
                  (click)="clickFileLink(item)"
                  target="_blank"
                >
                  <mat-icon
                    [matBadge]="viewNotify(item)"
                    matTooltip="Ver Recurso"
                    matTooltipPosition="above"
                    matBadgeSize="small"
                    class="text-blue-800"
                    >open_in_new</mat-icon
                  >
                </a>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item.nombreRecurso }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.asignatura }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.nivel }}</td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item.fechaCreacion | date : "d/M/yyyy" }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div
                  class="flex justify-center items-center m-1 font-medium py-1 px-2 pt-2 pb-2 rounded-full text-white"
                  [class]="getStyleColor(item.tipoRecurso)"
                >
                  <div
                    class="text-xs font-normal leading-none max-w-full flex-initial"
                  >
                    {{ item.tipoRecurso }}
                  </div>
                </div>
              </td>
              @if(selectedTab === 'Mis Recursos' && userRol === 'Estudiante'){
              <td
                class="px-6 py-4 whitespace-nowrap {{
                  !item?.docenteRevisor ? 'font-bold' : ''
                }}"
              >
                {{
                  item.docenteRevisor !== ""
                    ? item.docenteRevisor
                    : "No tiene Revisor"
                }}
              </td>
              }
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item.usuarioCreacion }}
              </td>
              @if(selectedTab === 'Mis Recursos'){
              <td class="px-6 py-4 whitespace-nowrap">
                @switch (item.estadoRecurso) { @case ('Ingresado') {
                <span class="text-neutral-500 font-bold">
                  {{ item.estadoRecurso }}</span
                >
                } @case ('Aprobado') {
                <span class="text-green-500 font-bold">
                  {{ item.estadoRecurso }}</span
                >
                } @default {
                <span class="text-red-700 font-bold">
                  {{ item.estadoRecurso }}</span
                >
                } }
              </td>
              }
            </tr>
            } @empty {
            <tr>
              <td colspan="8">
                <div class="p-2 text-center text-xl">
                  No hay datos disponibles.
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
        <div class="flex my-3">
          <div class="flex-1 ms-2">
            <select
              class="p-1 rounded border-2 border-solid border-slate-300"
              formControlName="limit"
            >
              @for (item of limitsOptions; track item) {
              <option [value]="item.value">{{ item.label }}</option>
              }
            </select>
          </div>
          <div class="grid justify-end">
            <nav>
              <ul class="flex">
                <li>
                  <a
                    class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out"
                    [ngClass]="{
                      'cursor-pointer hover:border-gray-400 hover:bg-light-300': pagination.buttonLeft,
                      'opacity-50 cursor-default': !pagination.buttonLeft,
                    }"
                    (click)="prevPage()"
                  >
                    <span class="material-icons text-sm"
                      >keyboard_arrow_left</span
                    >
                  </a>
                </li>
                @for (paginate of paginateCurrent; track $index) {
                <li>
                  <a
                    class="mx-1 flex h-9 w-9 items-center justify-center rounded-full p-0 text-sm shadow-md transition duration-150 ease-in-out cursor-pointer"
                    [ngClass]="{
                      'bg-blue-800 text-white': paginate === page,
                      'bg-white text-black': paginate !== page
                    }"
                    (click)="changePage(paginate)"
                  >
                    {{ paginate }}
                  </a>
                </li>
                }
                <li>
                  <a
                    class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300"
                    (click)="nextPage()"
                    [ngClass]="{
                      'cursor-pointer hover:border-gray-400 hover:bg-light-300':
                        pagination.buttonRight,
                      'opacity-50 cursor-default': !pagination.buttonRight
                    }"
                  >
                    <span class="material-icons text-sm"
                      >keyboard_arrow_right</span
                    >
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
