/* You can add global styles to this file, and also import other style files */
@import url("@ng-select/ng-select/themes/default.theme.css");
@import url("./assets/styles/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.background-view{
  background-image: url('/assets/images/bgflashcard.jpg');
  background-size: cover;
}
