<mat-dialog-content>
  <div class="pr-7 pl-7">
    <form [formGroup]="recursoGroupForm">
      <div class="grid grid-cols-12 gap-4 mt-5">
        <div class="col-span-12 md:col-span-6">
          <label
            for="nivel"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Nivel</label
          >
          <ng-select
            [items]="nivelesType"
            bindLabel="label"
            bindValue="value"
            [searchable]="false"
            placeholder="Niveles"
            formControlName="idNivel"
            notFoundText="No hay niveles"
            class="ng-custom"
          >
          </ng-select>
        </div>

        <div class="col-span-12 md:col-span-6">
          <label
            for="asignatura"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Asignatura</label
          >
          <ng-select
            [items]="asignaturas"
            bindLabel="label"
            bindValue="value"
            [searchable]="false"
            placeholder="Asignatura"
            formControlName="idAsignatura"
            notFoundText="No hay Asignaturas"
            class="ng-custom"
          >
          </ng-select>
        </div>
        @if(canShowStatus()){
        <div class="col-span-12 md:col-span-6">
          <label
            for="estado"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Estado</label
          >
          <ng-select
            [items]="estados"
            bindLabel="label"
            bindValue="value"
            [searchable]="false"
            placeholder="Estados"
            formControlName="idEstado"
            notFoundText="No hay niveles"
            class="ng-custom"
          >
          </ng-select>
        </div>
        } @if(selectedActivate(rol)){
        <div
          class="col-span-12"
          [ngClass]="{
            ' md:col-span-6':
              (rol === 'Docente' && modeForm === 'Edit') ||
              (rol === 'Docente' && modeForm === 'Por Aprobar')
          }"
        >
          <label
            for="tipoRecurso"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Tipo Recurso</label
          >
          <select
            id="tipoRecurso"
            formControlName="tipoRecurso"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="" disabled selected>Tipo Recurso</option>
            <option value="Link">Link</option>
            <option value="Archivo">Documento/Imagen</option>
          </select>
        </div>
        }

        <div class="col-span-12">
          <label
            for="nombreRecurso"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Descripción</label
          >
          <textarea
            type="text"
            id="nombreRecurso"
            formControlName="nombreRecurso"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Descripción"
          ></textarea>
        </div>
        @if(this.recursoGroupForm.get('tipoRecurso')?.value === 'Link'){
        <div class="col-span-12">
          <label
            for="link"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Link</label
          >
          <input
            type="url"
            id="link"
            formControlName="enlaceDelRecurso"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Link"
          />
        </div>
        } @if(this.recursoGroupForm.get('tipoRecurso')?.value === 'Archivo'){
          <div class="col-span-12">
            <label
              for="file"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Archivo/Imagen</label
            >
            <button 
              (click)="selectFile()"
              class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
              Seleccionar archivo
            </button>
            <input type="file" #fileInput style="display: none" (change)="onFileChange($event, 'recurso')"  accept=".jpg, .jpeg, .png, .gif, .doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"/>
            <input
              type="text"
              id="recurso"
              formControlName="recursoCargado"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Recurso"
              readonly
            />
          </div>
           
      
        } @if(this.rol === 'Admin' || showObservation(this.rol) && rol ===
        'Estudiante'){
        <div class="col-span-12">
          <div class="col-span-4">
            <label
              for="docenteRevisor"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Revisor</label
            >
            <ng-select
              [items]="docentes"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              placeholder="Docentes"
              formControlName="idDocenteRevisor"
              notFoundText="No hay Docentes"
              class="ng-custom"
            >
            </ng-select>
          </div>
        </div>
        } @if(showObservation(this.rol)){
        <div class="col-span-12">
          <div class="col-span-4 mt-2">
            <label
              for="observacion"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Observación</label
            >
            <textarea
              type="text"
              id="observacion"
              formControlName="observation"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Observación"
            ></textarea>
          </div>

          <div class="col-span-4 mt-2">
            <label
              for="file"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Observaciones Archivo</label
            >
            <div class="mt-2">
              <input
                type="file"
                id="file"
                (change)="onFileChange($event, 'observationArchivo')"
                accept=".jpg, .jpeg, .png, .gif, .doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx"
                class="block w-full text-gray-900"
              />
              <div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </form>
  </div>
</mat-dialog-content>
